<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Song Shop</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header class="nav">
    <img src="/media/logo.jpg" alt="Logo" width="50" height="70">
    <div class="brand">🎵 Song Shop</div>
    <nav>
      <a href="/">Home</a>
      <a href="/genre/pop">Pop</a>
      <a href="/genre/rock">Rock</a>
      <a href="/genre/hip-hop">Hip-Hop</a>
      <a href="/genre/indie">Indie</a>
      <a href="/genre/rnb">R&B</a>
      <a href="/genre/classical">Classical</a>
      <!-- Link to dedicated login page -->
      <a href="/login-page">Login</a>
    </nav>
  </header>

  <main class="container">
    <h1>Welcome to the Song Shop</h1>
    <p>Welcome to my website in progress! Click a 
        genre in the navbar to explore songs. 
        Clicking a song will open it in Spotify.
        In the future, there will be more songs but at the 
        current moment and time it's just dummy data.</p>
  </main>
  <infomation class="info_main">
    <h2> Here are all the different categories you can view here :</h2>
    <ul>
      <li>- Pop</li>
      <li>- R&B</li>
      <li>- Hip Hop</li>
      <li>- Classical</li>
      <li>- Indie</li>
      <li>- Rock</li>
    </ul>
  </infomation>
  <script src="/script.js"></script>
  <script src="/spotify-auth.js"></script>
</body>
</html>